# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Assets/Plugins/Editor/JetBrains*
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
/[Aa]ssets/[Ss]treamingAssets/aa*

# IDEs
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.DotSettings.user

# Builds
*.apk
*.aab
*.unitypackage

# OS
.DS_Store
Thumbs.db
